<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlquanan</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="POJO_entities.TblTables" />
        <mapping class="POJO_entities.SystemGroup" />
        <mapping class="POJO_entities.BaseProductImages" />
        <mapping class="POJO_entities.SystemUser" />
        <mapping class="POJO_entities.BaseInventory" />
        <mapping class="POJO_entities.BaseProduct" />
        <mapping class="POJO_entities.InvStockcard" />
        <mapping class="POJO_entities.TblUserTool" />
        <mapping class="POJO_entities.CusCustomers" />
        <mapping class="POJO_entities.SoReceiptvoucher" />
        <mapping class="POJO_entities.SoSaleorder" />
        <mapping class="POJO_entities.SystemSalary" />
        <mapping class="POJO_entities.SystemPrinttemplate" />
        <mapping class="POJO_entities.SystemRolelist" />
        <mapping class="POJO_entities.SoSaleorderReceiptvoucher" />
        <mapping class="POJO_entities.BaseCategory" />
        <mapping class="POJO_entities.SoSaleorderDetail" />
        <mapping class="POJO_entities.SystemUserAccount" />
        <mapping class="POJO_entities.SchUserWorkshift" />
        <mapping class="POJO_entities.SchWorkshift" />
        <mapping class="POJO_entities.SystemGroupRolelist" />
    </session-factory>
</hibernate-configuration>
